/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Navbar-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96vw;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 11vh;
}
.Navbar-2-1 > a > img{
  height: 7vh; 
}

.Navbar-2-2 {
  /* margin-left:800px; */
  margin-left:-1.5vw;

}
.Navbar-2-4 {
  /* margin-left:800px; */
  margin-left:55vw;
  /* padding-right:-50px; */
}







.UserList-1 {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(https://res.cloudinary.com/dsy2gebem/image/upload/v1658529437/third-project-bg/0000_jpafok.png);
  background-size: cover;
}

.UserDetail-1 {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(https://res.cloudinary.com/dsy2gebem/image/upload/v1658529437/third-project-bg/0000_jpafok.png);
  background-size: cover;
}

.UserDetail-2 {
  border-top: 0.7px solid gray;
  /* font-family: 'Tangerine'; */
  font-weight: lighter;
  font-size: 1.2rem;
}

.Home-2-1 {

  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* width: 96vw; */
  padding-left: 3vw;
  /* padding-right: 2vw; */
  /* height: 11vh; */
  /* position:relative; */


}

.Home-2-2 {

  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* width: 96vw; */
  padding-left: 3vw;
  /* padding-right: 2vw; */
  /* height: 11vh; */

}

.Signup-9-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border:1px solid red; */
  /* align-items: center; */
  /* width: 25vw;
  margin:auto; */

}

.Signup{
  width:100vw;
}

.Signup-9 {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-end */
  /* margin-top:100px auto auto auto; */
  margin: auto;
  margin-top: 2vh;
  ;
  width: 25vw;
  /* border: 1px solid red; */
  padding: 10px 26px 48px 26px;
  background-color: rgb(250, 205, 230);
}

input{
  padding: 6px;
  /* padding-bottom:10px; */
  margin-top: 2px;
  margin-bottom: 6px;
  border: 0px;
  /* font-size: 2rem; */
  border-top-right-radius:10px;
}

select{
  padding: 6px;
  /* padding-bottom:10px; */
  margin-top: 2px;
  margin-bottom: 6px;
  border: 0px;
  /* font-size: 2rem; */
  border-top-right-radius:10px;

}

.Signup-9-1 > button {
  padding: 5px;
  /* padding-bottom:10px; */
  /* margin-top:2px; */
  /* margin-bottom: 6px; */
  border: 0px;
  padding: 8px 8px;
  background-color: rgba(212, 82, 114, 0.314);
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}